<template>
  <div class="seller">
    <div class="seller-content">
      <div class="overview-top">
        <div class="overview-left">
          <h1 class="title">{{seller.name}}</h1>
          <span class="num">
          <star :size="24" :scores="seller.score" style="display: inline-block"></star>
          <span class="sell-count">({{seller.sellCount}})</span>
          <span class="sell-count">月售{{seller.sellCount}}份</span>
          </span>
        </div>
        <div class="overview-right">
          <span class="like iconfont icon-add"></span>
          <div class="fav">已收藏</div>
        </div>
      </div>
      <div class="overview-bottom">
        <div class="left bor">
          <span class="top">起送价</span>
          <span class="bottom">{{seller.minPrice}}</span>
          <span class="last">分钟</span>
        </div>
        <div class="left bor">
          <span class="top">起送价</span>
          <span class="bottom">{{seller.minPrice}}</span>
          <span class="last">分钟</span>
        </div>
        <div class="left">
          <span class="top">起送价</span>
          <span class="bottom">{{seller.minPrice}}</span>
          <span class="last">分钟</span>
        </div>
      </div>
    </div>
    <split></split>
    <div class="seller-info">
      <div class="titles">
        <div class="txt">商家公告</div></div>
      <div class="last">{{seller.bulletin}}</div>
      <div class="titles">
        <div class="txt">优惠信息</div>
     </div>
     <ul v-if="seller.supports" class="supports">
       <li v-for="(item,index) in seller.supports"  class="support-item" :key="index">
          <span class="icon" :class="classMap[item.type]"></span>
          <span class="itxt">{{item.description}}</span>
       </li>
     </ul>
    </div>
  </div>

</template>

<script>
  import axios from '../../../node_modules/axios';
  import star from '../star/star';
  import split from '../split/split';
  const OK = 200;
  export default {
    name: 'seller',
    data () {
      return {
        seller: [],
        ratings: []
      };
    },
    components: {
      'star': star,
      'split': split
    },
    methods: {
      getratingsinfo () {
        axios.get('../../../static/data.json')
          .then(this.getratingsdata)
          .catch(function (err) {
            console.log(err);
          });
      },
      getratingsdata (res) {
        console.log(res);
        let data = res.data;
        if (res.status === OK) {
          console.log('this.seller');
          console.log(this.seller);
         this.seller = data.seller;
         this.ratings = data.ratings;
         console.log(this.ratings);
         console.log(typeof this.ratings);
         // this.deliveryPrice = data.seller.deliveryPrice;
         // this.minPrice = data.seller.minPrice;
        //  this.$nextTick(() => {
        //   if (!this.scroll) {
        //     this.scroll = new BScroll(this.$refs.rate, {
        //       click: true
        //     });
        //   } else {
        //     this.scroll.refresh();
        //   }
        // });
        }
      }
    },
    created () {
      this.getratingsinfo();
      this.classMap = ['decrease', 'discount', 'special', 'invoice', 'guarantee'];
    }
  };
</script>

<style scoped lang="stylus">
   @import "../../common/stylus/index.styl"
  .seller
    width 100%
    position absolute
    top 174px
    left 0
    font-size 0
    overflow hidden
    .seller-content
      width 100%
      .overview-top
        display flex
        padding 18px
        border-bottom 1px solid rgba(7,17,27,0.2)
        .overview-left
          flex 0 0 280px
          width 280px
          text-align center
          .title
            line-height 14px
            font-size 14px
            color rgb(7,17,27)
            margin-bottom 8px
            text-align left
          .num
            display inline-block
            width 100%
            text-align left
            .sell-count
              display inline-block
              font-size 10px
              line-height 18px
              color rgb(77,85,93)
              margin-right 12px
        .overview-right
           flex 1
           padding-right 18px
           text-align right
           vertical-align middle
           .like
              font-size 24px
              line-height 24px
              color rgb(240,20,20)
           .fav
              margin-top 4px
              font-size 10px
              line-height 10px
              color rgb(77,85,93)
      .overview-bottom
        display flex
        padding 18px
        .left
          flex 1
          text-align center
          vertical-align middle
        .bor
            border-right 1px solid rgba(7,17,27,0.2)
          .top
            display block
            line-height 10px
            font-size 10px
            color rgb(147,153,159)
            margin-bottom 4px
          .bottom
            line-height 24px
            font-size 24px
            color rgb(7,17,27)
          .last
            line-height 10px
            font-size 10px
            color rgb(7,17,27)
    .seller-info
      width 100%
      text-align center
      padding 18px
      .titles
        display flex
        width 100%
        margin-bottom 8px
        .txt
          font-size 14px
          font-weight 700
          line-height 14px
          color rgb(7,17,27)
      .supports
              width 100%
              .support-item
                font-size 0
                margin-bottom 12px
                text-align left
                border-bottom  1px solid rgba(7,17,27,0.2)
                &:last-child
                  margin-bottom 0
                .icon
                  display inline-block
                  width 16px
                  height 16px
                  vertical-align top
                  margin-right 6px
                  background-size 16px 16px
                  background-repeat no-repeat
                  &.decrease
                    bg-image('decrease_2')
                  &.discount
                    bg-image('discount_2')
                  &.special
                    bg-image('special_2')
                  &.invoice
                    bg-image('invoice_2')
                  &.guarantee
                    bg-image('guarantee_2')
                .itxt
                  font-size 12px
                  font-weight 200
                  color rgb(7,17,27)
                  line-height 12px
      .last
              width 80%
              font-size 12px
              font-weight 200
              color rgb(7,17,27)
              line-height 24px
</style>
