<template>
  <div class="total">
  <div class="good">
       <div class="leftpart" ref="leftWrapper">
         <ul class="leftul">
           <!--//:class="{'current':currentIndex===index}"-->
           <li v-for="(item,index) in goods" :key="index" class="leftli" :class="{'current':currentIndex===index}" @click="selectMenu(index,$event)">
              <span class="txt  border-1px">
                <span v-show="item.type > 1" class="icon" :class="classMap[index]"></span>
                {{item.name}}</span>
           </li>
         </ul>
       </div>
       <div class="rightpart"  ref="rightWrapper" >
        <ul>
          <li  v-for="(item,index) in goods" :key="index"  class="r-item food-list-hook">
            <h1 class="r-title">{{item.name}}</h1>
            <ul>
              <li class="list-item"  @click="selectFood(food)" v-for="(food,index) in item.foods" :key="index">
                <div class="food-icon">
                  <img :src="food.icon" width="57px" height="57px"/>
                </div>
                <div class="food-desc">
                  <h2 class="food-name">{{food.name}}</h2>
                  <p class="food-descs" v-show="food.description">{{food.description}}</p>
                  <div class="food-other">
                    <span class="food-sell">月售{{food.sellCount}}份</span>
                    <span class="food-rating">好评{{food.rating}}%</span>
                  </div>
                  <div class="food-price">
                    <span class="new-price">￥{{food.price}}</span>
                    <span class="old-price" v-show="food.oldPrice">￥{{food.oldPrice}}</span>
                  </div>
                  <div class="cartcontrol-wrapper">
                    <cart-control :food="food" @cartAdd=" _drop"></cart-control>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
       </div>
      <shopping-cart  ref="shopcart"  :selectFoods="selectFoods" :deliveryPrice="deliveryPrice" :minPrice="minPrice"></shopping-cart>
  </div>
  <food :food="selectedFood" ref="food"></food>
  </div>
</template>

<script>
  import axios from '../../../node_modules/axios';
  import BScroll from 'better-scroll';
  import shoppingCart from '../shoppingcart/shoppingcart';
  import cartControl from '../cartcontrol/cartcontrol';
  import food from '../food/food';
  const OK = 200;
  export default {
    name: 'goods',
    data () {
      return {
        goods: [],
        listHeight: [],
        scrollY: 0,
        deliveryPrice: 0,
        minPrice: 0,
        selectedFood: {}
      };
    },
    computed: {
      currentIndex () {
        for (let i = 0; i < this.listHeight.length; i++) {
          let height1 = this.listHeight[i];
          let height2 = this.listHeight[i + 1];
          if (!height2 || (this.scrollY >= height1 && this.scrollY < height2)) {
            return i;
          }
          }
        return 0;
        },
      selectFoods () {
        let foods = [];
        this.goods.forEach((good) => {
         good.foods.forEach((food) => {
           if (food.count) {
             foods.push(food);
           }
         });
        });
        return foods;
      }
      },
    methods: {
      getgoodinfo () {
        axios.get('../../../static/data.json')
          .then(this.getgooddata)
          .catch(function (err) {
            console.log(err);
          });
      },
      getgooddata (res) {
        console.log(res);
        let data = res.data;
        if (res.status === OK) {
         this.goods = data.goods;
         this.deliveryPrice = data.seller.deliveryPrice;
         this.minPrice = data.seller.minPrice;
        }
      },
      _initScroll () {
        this.leftScroll = new BScroll(this.$refs.leftWrapper, {
          click: true
        });
        this.rightScroll = new BScroll(this.$refs.rightWrapper, {
          click: true,
          probeType: 3
        });
        this.rightScroll.on('scroll', (pos) => {
          this.scrollY = Math.abs(Math.round(pos.y));
        });
      },
      _calculateHeight () {
        setTimeout(() => {
        let foodList = this.$refs.rightWrapper.getElementsByClassName('food-list-hook');
        let height = 0;
        console.log(foodList.length);
        this.listHeight.push(height);
        for (let i = 0; i < foodList.length; i++) {
            let key = foodList[i];
            height += key.clientHeight;
            this.listHeight.push(height);
          }
        console.log('list');
        console.log(this.listHeight);
        }, 500);
        },
      selectMenu (index, $event) {
        if (!$event._constructed) {
          return;
        }
        let foodList = this.$refs.rightWrapper.getElementsByClassName('food-list-hook');
        let el = foodList[index];
        this.rightScroll.scrollToElement(el, 300);
      },
      _drop (target) {
        this.$nextTick(() => {
          this.$refs.shopcart.drop(target);
        });
      },
      selectFood (food) {
        console.log('click');
        this.selectedFood = food;
        console.log(this.selectedFood);
        this.$refs.food.show();
      }
    },
   created () {
      this.getgoodinfo();
      this.classMap = ['decrease', 'discount', 'special', 'invoice', 'guarantee'];
      this.$nextTick(() => {
         this._initScroll();
         this._calculateHeight();
      });
    },
   components: {
     shoppingCart: shoppingCart,
     cartControl: cartControl,
     food: food
    }
};
</script>

<style scoped lang="stylus">
 @import "../../common/stylus/index.styl";
  .total
    width 100%
    .good
      position absolute
      top 174px
      bottom 46px
      width 100%
      overflow hidden
      display flex
      .leftpart
          flex 0 0 0 80px
          width 80px
          background-color #f3f5f7
         .leftli
            display table
            width 56px
            height 54px
            line-height 14px
            padding 0 12px
            &.current
              position relative
              z-index 10
              margin-top -1px
              background-color #fff
              font-weight 700
              .txt
                border-none()
          .icon
               display inline-block
               width 12px
               height 12px
               margin-right 2px
               background-size 12px 12px
               background-repeat no-repeat
               &.decrease
                 bg-image('decrease_3')
               &.discount
                 bg-image('discount_3')
               &.special
                 bg-image('special_3')
               &.invoice
                 bg-image('invoice_3')
               &.guarantee
                 bg-image('guarantee_3')
         .txt
            display table-cell
            width 56px
            color black
            font-size 12px
            vertical-align middle
            border-1px(rgba(7,17,27,0.1))
      .rightpart
          flex 1
          .r-title
            display block
            width 100%
            height 26px
            font-size 12px
            color rgb(147,153,159)
            line-height 26px
            padding-right 14px
            background-color #f3f5f7
            border-left 2px solid #d9dde1
          .list-item
             display flex
             width 100%
             margin 18px
             border-1px(rgba(7,17,27,0.1))
             &:last-child
               border-none()
             .food-icon
                flex 0 0 57px
                margin-right 10px
             .food-desc
                flex 1
                width 100%
                position relative
                .food-name
                  font-size 14px
                  line-height 14px
                  color rgb(7,17,27)
                  padding-top 2px
                .food-descs
                  margin 8px 0
                  font-size 10px
                  line-height 10px
                  color rgb(147,153,159)
                .food-other
                  margin 8px 0
                  font-size 10px
                  line-height 10px
                  color rgb(147,153,159)
                  .food-sell
                    margin-right 12px
                .food-price
                  .new-price
                    font-size 14px
                    line-height 14px
                    font-weight 700
                    color red
                    margin-right 8px
                  .old-price
                    font-size 10px
                    line-height 14px
                    font-weight 700
                    text-decoration line-through
                    color rgb(147,153,159)
                .cartcontrol-wrapper
                    position absolute
                    padding 0
                    margin 0
                    right 28px
                    bottom -5px
</style>
