<template>
    <div class="star" :class="startType">
      <span class="star-item" v-for="(classitem,index) in classList" :class="classitem"  :key="index"></span>
    </div>
</template>

<script>
  const LENGTH = 5;
  const CLS_ON = 'on';
  const CLS_OFF = 'off';
  const CLS_HALF = 'half';
  export default {
    name: 'star',
    props: {
      scores: {
        type: Number
      },
      size: {
        type: Number
      }
    },
    computed: {
      startType () {
        return 'star-' + this.size;
      },
      classList () {
        let result = [];
        let score = Math.floor(this.scores * 2) / 2;
        let hasDecimal = score % 1 !== 0;
        let iterger = Math.floor(score);
        for (let i = 0; i < iterger; i++) {
          result.push(CLS_ON);
        }
        if (hasDecimal) {
          result.push(CLS_HALF);
        }
        while (result.length < LENGTH) {
          result.push(CLS_OFF);
        }
        return result;
      }
    }
  };
</script>

<style scoped lang="stylus">
  @import "../../common/stylus/index.styl"
  .star
    font-size 0
    .star-item
      display inline-block
      background-repeat no-repeat
    &.star-24
      .star-item
        width 16px
        height 16px
        margin-right 16px
        background-size 16px 16px
        &.on
          bg-image('star24_on')
        &.half
          bg-image('star24_half')
        &.off
          bg-image('star24_off')
    &.star-36
      .star-item
        width 20px
        height 20px
        margin-right 22px
        background-size 20px 20px
        &.on
          bg-image('star36_on')
        &.half
          bg-image('star36_half')
        &.off
          bg-image('star36_off')
    &.star-48
      .star-item
        width 20px
        height 20px
        margin-right 22px
        background-size 20px 20px
        &.on
          bg-image('star48_on')
        &.half
          bg-image('star48_half')
        &.off
          bg-image('star48_off')

</style>
