<template>
    <div class="ratings" ref="rate" >
      <div class="ratings-content">
        <div class="overview">
        <div class="overview-left">
          <h1 class="score">{{seller.score}}</h1>
          <div class="title">综合评分</div>
          <div class="rank">高于周边商家{{seller.rankRate}}%</div>
        </div>
        <div class="overview-right">
          <span class="score-wrapper">
            <span class="title">服务态度</span>
            <star :size="24" :scores="seller.serviceScore"></star>
            <span class="score">{{seller.serviceScore}}</span>
          </span>
          <span class="score-wrapper">
            <span class="title">商品评分</span>
            <star :size="24" :scores="seller.foodScore"></star>
            <span class="score">{{seller.foodScore}}</span>
          </span>
          <span class="delivery-wrapper">
            <span class="title">送达时间</span>
            <span class="delivery">{{seller.deliveryTime}}分钟</span>
          </span>
        </div>
        </div>
        <split></split>
        <ratingselect :ratings="ratings" :selectType="selectType" :onlyContent="onlyContent" :desc="desc"  @ratingtype="ratingtype"  @content_toggle="contentype"></ratingselect>
        <div class="rating-wrapper">
           <ul v-show="ratings && ratings.length">
             <li v-show="needShow(rating.rateType,rating.text)" v-for="(rating,index) in ratings" class="rating-item" :key="index">
               <div class="user">
                 <span class="name">{{rating.username}}</span>
                 <img class="avatar" width="12" height="12"  :src="rating.avatar">
               </div>
               <div class="time">{{rating.rateTime}}</div>
               <p class="text">{{rating.text}}</p>
             </li>
           </ul>
           <div class="no-rating" v-show="!ratings || !ratings.length"></div>
         </div>
      </div>
    </div>
</template>

<script>
  import axios from '../../../node_modules/axios';
  import star from '../star/star';
  import split from '../split/split';
  import BScroll from 'better-scroll';
  import ratingselect from '../ratingselect/ratingselect';
  const OK = 200;
  const ALL = 2;
  export default {
    name: 'ratings',
    data () {
      return {
        seller: [],
        ratings: [],
        showFlag: false,
        selectType: ALL,
        onlyContent: true,
        desc: {
          all: '全部',
          positive: '推荐',
          negative: '吐槽'
        }
      };
    },
    methods: {
      getratingsinfo () {
        axios.get('../../../static/data.json')
          .then(this.getratingsdata)
          .catch(function (err) {
            console.log(err);
          });
      },
      getratingsdata (res) {
        console.log(res);
        let data = res.data;
        if (res.status === OK) {
          console.log('this.seller');
          console.log(this.seller);
         this.seller = data.seller;
         this.ratings = data.ratings;
         console.log(this.ratings);
         console.log(typeof this.ratings);
         // this.deliveryPrice = data.seller.deliveryPrice;
         // this.minPrice = data.seller.minPrice;
         this.$nextTick(() => {
          if (!this.scroll) {
            this.scroll = new BScroll(this.$refs.rate, {
              click: true
            });
          } else {
            this.scroll.refresh();
          }
        });
        }
      },
      ratingtype (type) {
        this.selectType = type;
      },
      contentype (type) {
        this.onlyContent = type;
      },
      needShow (type, text) {
        if (this.onlyContent && !text) {
          return false;
        }
        if (this.selectType === ALL) {
          return true;
        } else {
          return type === this.selectType;
        }
      }
    },
    created () {
      this.getratingsinfo();
    },
    components: {
      'star': star,
      'split': split,
      'ratingselect': ratingselect
    }
  };
</script>

<style scoped lang="stylus">
  .ratings
      width 100%
      .ratings-content
        position absolute
        top 174px
        left 0
        width 100%
        overflow hidden
        .overview
          display flex
          padding 18px 0
          .overview-left
            flex 0 0 137px
            width 137px
            border-right 1px solid rgba(7,17,27,0.1)
            text-align center
            .score
              margin-bottom 6px
              line-height 28px
              font-size 24px
              color rgb(255,153,0)
            .title
              line-height 12px
              font-size 12px
              margin-bottom 8px
              color rgb(7,17,27)
            .rank
              line-height 10px
              font-size 10px
              color rgba(7,17,27,0.5)
          .overview-right
              flex 1
              padding 6px 0 6px 2px
              @media only screen and (max-width: 320px)
                padding-left 6px
              .score-wrapper
                width 100%
                margin-bottom 8px
                line-height 18px
                font-size 0
                display block
                .title
                  display inline-block
                  vertical-align top
                  font-size 10px
                  color rgb(7,17,27)
                  margin-right 12px
                .star
                   display inline-block
                   vertical-align top
                .score
                  display inline-block
                  vertical-align top
                  /*<!--!*font-size 12px-->
                  <!--line-height 18px-->
                  <!--color rgb(255,153,0)*!-->*/
              .delivery-wrapper
                width 100%
                line-height 18px
                font-size 0
                display inline-block
                .title
                  line-height 18px
                  font-size 12px
                  color rgb(7,17,27)
                .delivery
                  margin-left 12px
                  font-size 12px
                  color rgb(147,153,159)
        .rating-wrapper
            padding 0 18px
            .rating-item
              position relative
              padding 16px 0
              .user
                position absolute
                right 0
                top 16px
                line-height 12px
                font-size 0
                .name
                  display inline-block
                  vertical-align top
                  font-size 10px
                  color rgb(147,153,159)
                .avatar
                  border-radius 50%
              .time
                margin-bottom 6px
                line-height 12px
                font-size 10px
                color rgb(147,153,159)
              .text
                  line-height 16px
                  font-size 12px
                  color rgb(7,17,27)
            .no-rating
              padding 16px 0
              font-size 12px
              color rgb(147,153,159)
</style>
