<template>
  <transition name="mask">
    <div class="food" v-show="showFlag" ref="food">
     <div class="food-content">
       <div class="image-header">
         <img :src="food.image" class="image"/>
         <div class="back" @click="hide()">
           <span class="icon-arror_left iconfont icon-Left"></span>
         </div>
       </div>
       <div class="content">
         <h2 class="title">{{food.name}}</h2>
         <div class="detail">
           <span class="sell-count">月售{{food.sellCount}}份</span>
           <span class="rating">好评{{food.rating}}%</span>
         </div>
         <div class="price">
           <span class="now">￥{{food.price}}</span>
           <span class="old" v-show="food.oldPrice">￥{{food.oldPrice}}</span>
         </div>
         <div class="cartcontrol-wrapper">
         <cartcontrol :food="food"></cartcontrol>
       </div>
         <div class="buy" @click.stop.prevent="addFirst"  v-show="!food || food.count===0">加入购物车</div>
       </div>
       <split></split>
       <div class="info" v-show="food.info">
         <h1 class="title">商品信息</h1>
         <p class="text">{{food.info}}</p>
       </div>
       <split></split>
       <div class="rating">
         <h1 class="title">商品评价</h1>
         <ratingselect :ratings="food.ratings" :selectType="selectType" :onlyContent="onlyContent" :desc="desc" @ratingtype="ratingtype"  @content_toggle="contentype"></ratingselect>
         <div class="rating-wrapper">
           <ul v-show="food.ratings && food.ratings.length">
             <li v-show="needShow(rating.rateType,rating.text)" v-for="(rating,index) in food.ratings" class="rating-item" :key="index">
               <div class="user">
                 <span class="name">{{rating.username}}</span>
                 <img class="avatar" width="12" height="12"  :src="rating.avatar">
               </div>
               <div class="time">{{rating.rateTime}}</div>
               <p class="text">{{rating.text}}</p>
             </li>
           </ul>
           <div class="no-rating" v-show="!food.ratings || !food.ratings.length"></div>
         </div>
       </div>
     </div>
    </div>
  </transition>
</template>

<script>
  import Cartcontrol from '../cartcontrol/cartcontrol';
  import ratingselect from '../ratingselect/ratingselect';
  import split from '../split/split';
  import BScroll from 'better-scroll';
  import Vue from 'vue';
  const ALL = 2;
  export default {
    name: 'food',
    components: {Cartcontrol,
    split,
     ratingselect},
    props: {
      food: {
        type: Object
      }
    },
    data () {
      return {
        showFlag: false,
        selectType: ALL,
        onlyContent: true,
        desc: {
          all: '全部',
          positive: '推荐',
          negative: '吐槽'
        }
      };
    },
    methods: {
      show () {
        this.showFlag = true;
        this.selectType = ALL;
        this.onlyContent = true;
        this.$nextTick(() => {
          if (!this.scroll) {
            this.scroll = new BScroll(this.$refs.food, {
              click: true
            });
          } else {
            this.scroll.refresh();
          }
        });
      },
      hide () {
        console.log('true');
        this.showFlag = false;
      },
      addFirst (event) {
        console.log('click');
        this.$emit('cartAdd', event.target);
         Vue.set(this.food, 'count', 1);
      },
      ratingtype (type) {
        this.selectType = type;
      },
      contentype (type) {
        this.onlyContent = type;
      },
      needShow (type, text) {
        if (this.onlyContent && !text) {
          return false;
        }
        if (this.selectType === ALL) {
          return true;
        } else {
          return type === this.selectType;
        }
      }
    }
  };
</script>

<style scoped lang="stylus">
  .food
    position  fixed
    left 0
    top 0
    bottom 48px
    z-index 36
    width 100%
    background-color #fff
    &.mask-enter-active, &.mask-leave-active//渐变的进入和退出都历时0.5s
        transition all 0.2s linear
        transform translate3d(0,0,0)
    &.mask-enter, &.mask-leave-to//定义进入前和退出后样式，即透明无色背景。
        transform translate3d(100%,0,0)
    .food-content
      width 100%
      .image-header
          position relative
          width 100%
          height 0
          padding-top 100%
          .image
            position absolute
            top 0
            left 0
            width 100%
            height 100%
          .back
            position absolute
            top 10px
            left 0
            .icon-arror_left
              display block
              padding 10px
              font-size 20px
              color #fff
      .content
          position relative
          padding 18px
          .title
            line-height 14px
            margin-bottom 8px
            font-size 14px
            font-weight 700
            color rgb(7,17,27)
          .detail
            margin-bottom 18px
            line-height 10px
            height 10px
            font-size 0
            .sell-count, .rating
                font-size 10px
                color rgb(147,153,159)
            .sell-count
                margin-right 12px
          .price
            font-weight 700
            line-height 24px
            .now
              margin-right 10px
              font-size 14px
              color rgb(240,20,20)
            .old
              text-decoration line-through
              font-size 10px
              color rgb(141,153,159)
          .cartcontrol-wrapper
              position absolute
              right 12px
              bottom 12px
          .buy
              position absolute
              right 18px
              bottom 18px
              z-index 10
              height 24px
              line-height 24px
              padding 0 12px
              box-sizing border-box
              border-radius 12px
              font-size 10px
              color #fff
              background-color rgb(0,160,220)
      .info
          padding 18px
          .title
            line-height 14px
            margin-bottom 6px
            font-size 14px
            color rgb(7,17,27)
          .text
            line-height 24px
            padding 0 8px
            font-size 12px
            color rgb(77,85,93)
      .rating
          padding 18px
          position relative
          .title
            line-height 14px
            margin-bottom 6px
            font-size 14px
            font-weight 700
            color rgb(7,17,27)
          .rating-wrapper
            padding 0 18px
            .rating-item
              position relative
              padding 16px 0
              .user
                position absolute
                right 0
                top 16px
                line-height 12px
                font-size 0
                .name
                  display inline-block
                  vertical-align top
                  font-size 10px
                  color rgb(147,153,159)
                .avatar
                  border-radius 50%
              .time
                margin-bottom 6px
                line-height 12px
                font-size 10px
                color rgb(147,153,159)
              .text
                  line-height 16px
                  font-size 12px
                  color rgb(7,17,27)
            .no-rating
              padding 16px 0
              font-size 12px
              color rgb(147,153,159)
</style>
