<template>
  <div class="ratingselect border-1px">
    <div class="rating-type">
      <span  @click="select(2)" class="block positive " :class="{'active':selectType===2}">{{desc.all}}
        <span class="count">{{ratings.length}}</span>
      </span>
      <span  @click="select(0)" class="block positive" :class="{'active':selectType===0}" >{{desc.positive}}
         <span class="count">{{positives.length}}</span>
      </span>
      <span  @click="select(1)" class="block negative" :class="{'active':selectType===1}">{{desc.negative}}
         <span class="count">{{negatives.length}}</span>
      </span>
    </div>
    <div class="switch border-1px" @click="toggleContent()" :class="{'on':onlyContent}">
      <span class="icon-check_clicle iconfont icon-Left"></span>
      <span class="text">只看有内容的评价</span>
    </div>
  </div>
</template>

<script>
  const ALL = 2;
  export default {
    name: 'ratingselect',
    props: {
      ratings: {
        type: Array,
        default () {
          return [];
        }
      },
      selectType: {
        type: Number,
        default: ALL
      },
      onlyContent: {
        type: Boolean,
        default: false
      },
      desc: {
        type: Object,
        default () {
          return {
            all: '全部',
            positive: '满意',
            negative: '不满意'
          };
        }
      }
    },
    methods: {
      select (type) {
        // if (event._constructed) {
        //   return;
        //
        this.selectType = type;
        this.$emit('ratingtype', type);
      },
      toggleContent (event) {
        // if (event._constructed) {
        //   return;
        // }
        console.log('here');
        this.onlyContent = !this.onlyContent;
        this.$emit('content_toggle', this.onlyContent);
      }
    },
    computed: {
      positives () {
        return this.ratings.filter((rating) => {
          return rating.rateType === 0;
        });
      },
      negatives () {
        return this.ratings.filter((rating) => {
          return rating.rateType === 1;
        });
      }
    }
  };
</script>

<style scoped lang="stylus">
  @import "../../common/stylus/index.styl";
  .ratingselect
    width 100%
    .rating-type
      padding 18px 0
      margin 0 18px
      width 100%
      border-bottom 1px solid rgba(7,17,27,0.1)
      font-size 0
      .block
        display inline-block
        padding 8px 12px
        margin-right 8px
        border-radius 1px
        font-size 12px
        color rgb(77,85,93)
        &.active
        color #fff
        .count
          font-size 8px
          margin-left 2px
        &.positive
          background-color rgba(0,160,220,0.2)
          &.active
            background-color rgb(0,160,220)
        &.negative
          background-color rgba(77,85,93,0.2)
          &.active
            background-color rgb(0,160,220)
    .switch
      padding 12px 18px
      line-height 24px
      border-bottom 1px solid rgba(7,17,27,0.1)
      color rgb(147,153,159)
      font-size 0
      &.on
        .icon-check_clicle
          color green
      .icon-check_clicle
        display inline-block
        vertical-align top
        font-size 24px
        margin-right 4px
      .text
        display inline-block
        vertical-align top
        font-size 12px
</style>
