<template>
  <div>
    <div class="shopcart">
      <transition name="fold">
      <div class="shopcart-list" v-show="listShow">
        <div class="list-header">
          <h1 class="title">购物车</h1>
          <span class="empty" @click="empty">清空</span>
        </div>
        <div class="list-content" ref="foodList">
          <ul>
            <li class="food" v-for="(food,index) in selectFoods" :key="index" >
              <span class="name">{{food.name}}</span>
              <div class="price">
                <span>${{food.price*food.count}}</span>
              </div>
              <div class="cartcontrol-wrapper">
                <cartcontrol :food="food"></cartcontrol>
              </div>
            </li>
          </ul>
        </div>
      </div>
      </transition>
      <div class="content" @click="toggleList">
        <div class="content-left">
          <div class="logo-wrapper">
            <div class="logo" :class="{'heighlight':totalCount>0}">
              <span class="icon-shoping_cart" :class="{'heighlight':totalCount>0}" ></span>
            </div>
            <div class="num" v-show="totalCount>0">{{totalCount}}</div>
          </div>
          <!--￥{totalPrice}元-->
            <div class="price" :class="{'heighlight':totalCount>0}" >￥{{totalPrice}}元</div>
            <div class="desc">另需配送费￥{{deliveryPrice}}元</div>
        </div>
        <div class="content-right"  @click.stop.prevent="pay">
          <div class="pay" :class="payclass">
            {{payDesc}}
          </div>
        </div>
      </div>
      <div class="ball-container">
        <transition-group name="drop" @before-enter="beforeEnter" @enter="enter" @after-enter="afterEnter">
        <div  v-for="(ball,index) in balls" v-show="ball.show" class="ball" :key="index">
          <div class="inner inner-hook"></div>
        </div>
        </transition-group>
       </div>
    </div>
    <transition name="fade">
    <div class="list-mask" v-show="listShow"  @click="hideList"></div>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
  import cartcontrol from '../cartcontrol/cartcontrol';
  import BScroll from 'better-scroll';
  export default {
    name: 'shoppingcart',
    components: {cartcontrol},
    data () {
      return {
        balls: [
          {
            show: false
          },
          {
            show: false
          },
          {
            show: false
          },
          {
            show: false
          },
          {
            show: false
          }
        ],
        dropBalls: [],
        fold: true
      };
    },
    props: {
      selectFoods: {
        type: Array,
        default () {
          return [];
        }
      },
      deliveryPrice: {
        type: Number,
        default: 0
      },
      minPrice: {
        type: Number,
        default: 0
      }
    },
    computed: {
      totalPrice () {
        let total = 0;
        this.selectFoods.forEach((food) => {
          total += food.price * food.count;
        });
        return total;
      },
      totalCount () {
        let count = 0;
        this.selectFoods.forEach((food) => {
          count += food.count;
        });
        return count;
      },
      payDesc () {
        if (this.totalCount === 0) {
          return `￥${this.minPrice}元起送`;
        } else if (this.totalPrice < this.minPrice) {
          let diff = this.minPrice - this.totalPrice;
          return `还差￥${diff}元起送`;
        } else {
          return '去结算';
        }
      },
      payclass () {
        if (this.totalCount === 0 || this.totalPrice < this.minPrice) {
          return 'not-enough';
        } else {
          return 'enough';
        }
      },
      listShow () {
        if (!this.totalCount) {
          // this.fold = true;
          return false;
        }
        let show = !this.fold;
        return show;
      }
    },
    methods: {
      drop (el) {
        console.log('ball');
        console.log(el);
        for (let i = 0; i < this.balls.length; i++) {
          console.log('balls');
          console.log(this.balls);
          let ball = this.balls[i];
          if (!ball.show) {
            ball.show = true;
            ball.el = el;
            this.dropBalls.push(ball);
            return;
          }
        }
      },
      toggleList () {
        if (!this.totalCount) {
          return;
        }
        this.fold = !this.fold;
      },
      empty () {
        this.selectFoods.forEach((food) => {
          food.count = 0;
        });
      },
      hideList () {
        this.fold = true;
      },
      pay () {
        if (this.totalPrice < this.minPrice) {
          return;
        }
        window.alert(`支付${this.totalPrice}元`);
      },
      beforeEnter (el) {
            console.log(el);
            console.log('before');
            let count = this.balls.length;
            while (count--) {
              let ball = this.balls[count];
              if (ball.show) {
                let rect = ball.el.getBoundingClientRect();
                let x = rect.left - 32;
                let y = -(window.innerHeight - rect.top - 22);
                el.style.display = '';
                el.style.wekitTransform = `translate3d(0,${y}px,0)`;
                el.style.transform = `translate3d(0,${y}px,0)`;
                let inner = el.getElementsByClassName('inner-hook')[0];
                inner.style.wekitTransform = `translate3d(${x}px,0,0)`;
                inner.style.transform = `translate3d(${x}px,0,0)`;
              }
            }
          },
      enter (el) {
            // let rf = el.offsetHeight;
            console.log('enter');
            this.$nextTick(() => {
              el.style.wekitTransform = 'translate3d(0,0,0)';
              el.style.transform = 'translate3d(0,0,0)';
              let inner = el.getElementsByClassName('inner-hook')[0];
              inner.style.wekitTransform = 'translate3d(0,0,0)';
              inner.style.transform = 'translate3d(0,0,0)';
            });
          },
      afterEnter (el) {
            console.log('after');
            let ball = this.dropBalls.shift();
            if (ball) {
              ball.show = false;
              el.style.display = 'none';
            }
          }
    },
    watch: {
    selectFoods (newFoods, oldFoods) {
      if (newFoods.length === 0) {
        this.fold = true;
      }
    },
    listShow () {
      let show = !this.fold;
      if (show) {
        this.$nextTick(() => {
          if (!this.scroll) {
            this.scroll = new BScroll(this.$refs.foodList, {
              click: true
            });
          } else {
            this.scroll.refresh();
          }
        });
      }
    }
}
  };
</script>

<style scoped lang="stylus">
  @import "../../common/stylus/index.styl";
  .shopcart
      width 100%
      position fixed
      left 0
      bottom 0
      z-index 50
    .shopcart-list
      position absolute
      left 0
      bottom  0
      background-color red
      z-index -1
      width 100%
      &.fold-enter-active, &.fold-leave-active//渐变的进入和退出都历时0.5s
        transition all 0.5s
      &.fold-enter, &.fold-leave-to//定义进入前和退出后样式，即透明无色背景。
        opacity 0
      .list-header
        height 40px
        line-height 40px
        padding 0 18px
        background-color #f3f5f7
        border-bottom 1px solid rgba(7,17,27,0.1)
        .title
          float left
          font-size 14px
          color rgb(7,17,27)
        .empty
          float right
      .list-content
          padding 0 18px
          max-height 217px
          overflow hidden
          background-color #fff
          .food
            position relative
            padding 12px 0
            box-sizing border-box
            border-1px(rgba(7,17,27,0.1))
            .name
              line-height 24px
              font-size 14px
              color rgb(7,17,27)
            .price
                position absolute
                right 90px
                bottom 12px
            .cartcontrol-wrapper
                position absolute
                right 0
                bottom 6px
      .list-header
        height 40px
        line-height 40px
        padding 0 18px
        background-color #f3f5f7
        border-bottom 1px solid rgba(7,17,27,0.1)
        .title
          float left
          font-size 14px
          color rgb(7,17,27)
        .empty
          float right
      .list-content
          padding 0 18px
          max-height 217px
          overflow hidden
          background-color #fff
          .food
            position relative
            padding 12px 0
            box-sizing border-box
            border-1px(rgba(7,17,27,0.1))
            .name
              line-height 24px
              font-size 14px
              color rgb(7,17,27)
            .price
                position absolute
                right 90px
                bottom 12px
            .cartcontrol-wrapper
                position absolute
                right 0
                bottom 6px
    .content
      height 48px
      font-size 0
      display flex
      background-color #141d27
      color rgba(255,255,255,0.4)
      .content-left
        flex 1
        .logo-wrapper
          display inline-block
          position relative
          top -10px
          margin 0 12px
          padding 6px
          width 56px
          height 56px
          box-sizing border-box
          vertical-align top
          border-radius 50%
          background-color #141d27
          .logo
            width 100%
            height 100%
            border-radius 50%
            background-color #2b343c
            &.heighlight
              color rgb(0,160,220)
            .icon-shopping-cart
                line-height 44px;
                font-size 24px
                color #80858a
                &.heighlight
                  color #fff
          .num
            position absolute
            right 0
            top 0
            width 24px
            height 16px
            text-align center
            border-radius 16px
            font-size 9px
            font-weight 700
            color #fff
            background-color rgb(240,20,20)
            box-shadow 0 4px 8px 0 rgba(0,0,0,0.4)
        .price
          display inline-block
          margin-top 12px
          padding-right 12px
          vertical-align top
          font-size 16px
          line-height 24px
          box-sizing border-box
          font-weight 700
          border-right 1px solid rgba(255,255,255,0.1)
          color rgba(255,255,255,0.4)
          &.heighlight
             color #fff
        .desc
          display inline-block
          vertical-align top
          margin 12px 0 0 12px
          font-size 10px
          line-height 24px
          color rgba(255,255,255,0.4)
      .content-right
        flex 0 0 105px
        width 105px
        .pay
          height 48px
          line-height 48px
          text-align center
          font-size 12px
          font-weight 700
          background-color #2b333b
          &.not-enough
            background-color #2b333b
          &.enough
            background-color #00b43c
            color #fff
    .ball-container
      .ball
        position fixed
        left 32px
        bottom 22px
        z-index 200
        &.drop-enter-active, &.drop-leave-active//渐变的进入和退出都历时0.5s
              transition all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41);
              .inner
                transition: all 0.4s linear;
        .inner
            width 16px
            height 16px
            border-radius 50%
            background-color rgb(0,160,220)
  .list-mask
      position fixed
      top 0
      left 0
      width 100%
      height 100%
      z-index 40
      backdrop-filter blur(10px)
      &.fade-enter-active, &.fade-leave-active//渐变的进入和退出都历时0.5s
        opacity 1
        background-color rgba(7,17,27,0.6)
      &.fade-enter, &.fade-leave
          background-color rgba(7,17,27,0)
</style>
