<template>
    <div class="headers">
      <div class="content-top">
     <div class="left">
       <img class="limg" :src="seller.avatar" width="64px" height="64px" />
     </div>
     <div class="middle">
       <div class="title">
         <span class="mimg1"></span>
         <span class="titl">{{seller.name}}</span>
       </div>
       <div class="description">
         {{seller.description}}/{{seller.deliveryTime}}分钟送达
       </div>
       <div v-if="seller.supports" class="info">
        <span class="mimg2" :class="classMap[seller.supports[0].type]"></span>
         <span class="tit2">{{seller.supports[0].description}}</span>
       </div>
     </div>
     <div class="right">
       <span class="num">{{seller.supports.length}}个</span>
      <span class="iconfont lef" @click="this.detail">&#xe611;</span>
     </div>
      </div>
      <div class="bott">
        <span class="bimg"></span>
        <div class="contend">{{seller.bulletin}}</div>
        <span class="iconfont boti" @click="this.detail">&#xe611;</span>
      </div>
      <div class="bg">
        <img :src="seller.avatar" width="100%" height="100%"/>
      </div>
      <transition name="fade">
      <div class="topp" v-show="detailshow">
        <div class="topdetail clearfix">
          <div class="detailmain">
            <h1 class="maintitle">{{seller.name}}</h1>
            <div class="starwrapper">
              <star :scores="seller.score" :size="48"></star>
            </div>
            <div class="titles">
              <div class="line"></div>
              <div class="txt">优惠信息</div>
              <div class="line"></div>
            </div>
            <ul v-if="seller.supports" class="supports">
              <li v-for="(item,index) in seller.supports"  class="support-item" :key="index">
                <span class="icon" :class="classMap[item.type]"></span>
                <span class="itxt">{{item.description}}</span>
              </li>
            </ul>
            <div class="titles">
              <div class="line"></div>
              <div class="txt">商家公告</div>
              <div class="line"></div>
            </div>
            <div class="last">
              {{seller.bulletin}}
            </div>
          </div>
        </div>
        <div class="topclose">
          <span class="iconfont closes" @click="detail">&#xe615;</span>
        </div>
      </div>
      </transition>
    </div>
</template>

<script>
  import star from '../star/star';
  export default {
    name: 'homeheader',
    components: {
      'star': star
    },
    props: {
      seller: Object
    },
    created () {
      this.classMap = ['decrease', 'discount', 'special', 'invoice', 'guarantee'];
    },
    data () {
      return {
        detailshow: false
      };
    },
    methods: {
      detail () {
        this.detailshow = !this.detailshow;
      }
    }
  };
</script>

<style scoped lang="stylus">
  @import "../../common/stylus/index.styl"
  .headers
    position relative
    color #fff
    background-color rgba(7,17,27,0.5)
    overflow hidden
    z-index 20
    /*width 100%*/
    /*height 134px*/
    .content-top
      position relative
      font-size 0
      padding 24px 12px 18px 24px
      .left
          display inline-block
          vertical-align center
        .limg
          border-radius 2px
      .middle
        position absolute
        top 26px
        left 104px
        .title
          margin-bottom 8px
          .mimg1
            float left
            display inline-block
            width 30px
            height 18px
            bg-image('brand')
            background-size 30px 18px
            background-repeat no-repeat
          .titl
            float left
            margin-left 6px
            font-size 16px
            color rgb(255,255,255)
            font-weight  bold
            line-height 18px
        .description
          margin-top 30px
          font-size:12px
          color rgb(255,255,255) ;
          font-weight 200;
          line-height 12px
        .info
          margin-top 10px
          .mimg2
            float left
            display inline-block
            width 12px
            height 12px
            background-size 12px 12px
            background-repeat no-repeat
            &.decrease
              bg-image('decrease_1')
            &.discount
              bg-image('discount_1')
            &.special
              bg-image('special_1')
            &.invoice
              bg-image('invoice_1')
            &.guarantee
              bg-image('guarantee_1')
        .tit2
            float left
            margin-left 4px
            font-size 10px
            color rgb(255,255,255)
            font-weight 200
            line-height 12px
            text-align top
      .right
        position absolute
        bottom  46px
        right 12px
        width 60px
        height 24px
        background-color rgba(0,0,0,0.2)
        border-radius 8px
        text-align center
        .num
          display inline-block
          margin-left  8px
          font-size 10px
          color rgb(255,255,255)
          font-weight 200
          height 12px
          line-height 24px
          text-align center
        .lef
          font-size 10px
          color rgb(255,255,255)
          font-weight 200
          line-height 12px
          text-align center
    .bott
      margin-top 0px
      width 100%
      height 28px
      background-color rgba(7,17,27,0.2)
      .bimg
        float left
        display inline-block
        margin-top 10px
        margin-left 12px
        width 22px
        height 12px
        bg-image('bulletin')
        background-size 22px 12px
        background-repeat no-repeat
      .contend
        float left
        width 300px;
        height 28px
        padding-left 4px
        font-size 10px
        color rgb(255,255,255)
        font-weight 200
        line-height 28px
        text-align center
        text-el()
      .boti
       float left
       font-size 10px
       color rgb(255,255,255)
       font-weight 200
       line-height 30px
       text-align center
    .bg
      position absolute
      top:0
      left 0
      z-index -1
      width 100%
      height 100%
      filter:blur(10px)
    .topp
        position:fixed
        left 0
        top 0
        width 100%
        height 100%
        z-index 99
        overflow hidden
        background rgba(7,17,27,0.8)
        &.fade-enter-active, &.fade-leave-active//渐变的进入和退出都历时0.5s
          transition all 0.5s
        &.fade-enter, &.fade-leave-to//定义进入前和退出后样式，即透明无色背景。
          opacity 0
          background rgba(7,17,27,0)
        .topdetail
          width 100%
          .detailmain
            width 100%
            margin-top 64px
            text-align center
            .maintitle
              font-size 16px
              font-weight 700px
              color rgb(255,255,255)
              line-height 16px
            .starwrapper
              margin 16px auto
              padding-bottom 12px
            .titles
              display flex
              width 80%
              margin 28px auto 24px auto
              .line
                flex 1
                position relative
                top -6px
                border-bottom 1px solid rgb(255,255,255,0.2)
              .txt
                padding 0 12px
                font-size 14px
                font-weight 700
                line-height 14px
                color rgb(255,255,255)
            .supports
              width 80%
              margin 0 auto
              .support-item
                font-size 0
                padding 0 12px
                margin-bottom 12px
                text-align left
                &:last-child
                  margin-bottom 0
                .icon
                  display inline-block
                  width 16px
                  height 16px
                  vertical-align top
                  margin-right 6px
                  background-size 16px 16px
                  background-repeat no-repeat
                  &.decrease
                    bg-image('decrease_2')
                  &.discount
                    bg-image('discount_2')
                  &.special
                    bg-image('special_2')
                  &.invoice
                    bg-image('invoice_2')
                  &.guarantee
                    bg-image('guarantee_2')
                .itxt
                  font-size 12px
                  font-weight 200
                  color white
                  line-height 12px
            .last
              width 80%
              margin 0 auto
              font-size 12px
              font-weight 200
              color white
              line-height 24px
        .topclose
          position relative
          width 32px
          height 32px
          /*margin 32px auto 0 auto*/
          margin 32px auto 0 auto
          padding-bottom 32px
          .closes
            clear both
            font-size 32px
</style>
