<template>
  <div class="cartcontrol">
    <div class="cart-decrease" v-show="food.count>0"  @click="minusCount">
      <transition name="move">
      <span class="inner iconfont icon-minus"></span>
      </transition>
    </div>
    <div class="cart-count" v-show="food.count>0" >{{food.count}}</div>
    <div class="cart-add iconfont icon-add" @click.stop.prevent="addCount"></div>
  </div>
</template>

<script type="text/ecmascript-6">
  import Vue from 'vue';
  export default {
    name: 'cartcontrol',
    props: {
      food: {
        type: Object
      }
    },
    methods: {
      addCount (event) {
        if (!event._constructed) {
          return;
        }
        if (!this.food.count) {
          Vue.set(this.food, 'count', 1);
        } else {
          this.food.count++;
        }
        this.$emit('cartAdd', event.target);
      },
      minusCount (event) {
        if (!event._constructed) {
          console.log("-----")
          return;
        }
        if (this.food.count) {
          this.food.count--;
        }
      }
    }
  };
</script>

<style scoped lang="stylus">
  .cartcontrol
    font-size 0
    .cart-decrease
      display inline-block
      padding 6px
      .inner
            display inline-block
            line-height 24px !important
            font-size 24px !important
            color rgb(0,160,220)
      .move-enter-to
        opacity 1
        transform translate3d(0,0,0)
        .inner
            display inline-block
            line-height 24px
            font-size 24px
            color rgb(0,160,220)
            transition all 0.4s linear
            transform rotate(0)
      .move-enter, .move-leave
        opacity 0
        transform translate3d(24px,0,0)
        .inner
            transform rotate(180deg)
    .cart-count
      display inline-block
      vertical-align top
      line-height 24px
      font-size 10px
      color rgb(147,153,159)
      vertical-align top
      padding-top 2px
      text-align center
    .cart-add
      display inline-block
      padding 6px
      line-height 24px
      font-size 24px
      color rgb(0,160,220)
</style>
