border-1px($color)
  positive:relative
  &:after
    display:block
    position:absolute
    left:0
    top:0
    width:100%
    border-top:1px solid $color
    content:' '

border-none()
 &:after
  display none
bg-image($url)
  background-image : url($url+"@2x.png")
  @media (-webkit-min-device-pixel-ratio:3),(min-device-aspect-ratio: 3)
    background-image : url($url+"@2x.png")
