<template>
  <div >
    <v-header :seller="seller"></v-header>
    <div class="tab border-1px">
      <div class="tab-item"><router-link to="/">商品</router-link></div>
      <div class="tab-item"><router-link to="/ratings">评论</router-link></div>
      <div class="tab-item"><router-link to="/seller">商家</router-link></div>
    </div>
     <keep-alive>
   <router-view></router-view>
      </keep-alive>
  </div>
</template>

<script type="text/ecmascript-6">
  import homeheader from './components/header/headerw.vue';
  import axios from '../node_modules/axios';
  export default {
  name: 'App',
  data () {
    return {
      seller: {},
      goods: {}
    };
  },
  methods: {
    getsellerInfo () {
      axios.get('../static/data.json')
        .then(this.getsellerdata)
        .catch(function (err) {
          console.log(err);
        });
    },
    getsellerdata (res) {
      let data = res.data;
      if (res.status === 200) {
        this.seller = data.seller;
        // this.goods = data.goods;
        // console.log(this.goods);
      }
    }
  },
  created () {
    this.getsellerInfo();
  },
  components: {
    'v-header': homeheader
  }
};
</script>

<style lang="stylus" scoped>
  @import "./common/stylus/mixin.styl"
  @import "./common/stylus/base.styl"
    .tab
      display flex
      width 100%
      height 40px
      background-color white
      border-1px(rgba(7,17,27,0.1))
      line-height 40px
      z-index 20
      .tab-item
        flex 1
        text-align center
</style>
